{
  "openapi": "3.1.0",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "DiCompute API",
    "version": "1.0",
    "description": "OpenAI-compatible inference API for DiCompute. Point an OpenAI SDK at the server URL below and keep your client. Authenticate with `Authorization: Bearer <api-key>`; see the authentication guide linked from `components.securitySchemes`. Note that the authenticated routes send no CORS headers and are intended for server-side clients. One status code is a documented exception to the error envelope every operation below declares: `429` (rate limiting). An application-level rate limit answers 429 in the same JSON envelope as every other error, but the same paths can also receive a 429 from an edge (Cloudflare) rule that answers `content-type: text/html` instead (DICOMPUTE/Open, public issue 770) -- so no operation below declares a typed 429 response; treat any 429 as retryable and parse its body defensively.",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    },
    "contact": {
      "name": "DiCompute support",
      "url": "https://dicompute.ai/help"
    },
    "termsOfService": "https://dicompute.ai/terms"
  },
  "servers": [
    {
      "url": "https://dicompute.ai/openai",
      "description": "This deployment's default host; a self-hosted deployment's own origin replaces this."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "`Authorization: Bearer <api-key>` -- see https://dicompute.ai/docs/authentication."
      }
    },
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string"
          },
          "models": {
            "maxItems": 4,
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          },
          "messages": {
            "minItems": 1,
            "maxItems": 1000,
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "system",
                    "user",
                    "assistant",
                    "tool",
                    "developer"
                  ]
                },
                "content": {
                  "anyOf": [
                    {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 200000
                        },
                        {
                          "maxItems": 64,
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "text"
                                  },
                                  "text": {
                                    "type": "string",
                                    "maxLength": 200000
                                  }
                                },
                                "required": [
                                  "type",
                                  "text"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "image_url"
                                  },
                                  "image_url": {
                                    "type": "object",
                                    "properties": {
                                      "url": {
                                        "type": "string",
                                        "minLength": 1
                                      },
                                      "detail": {
                                        "type": "string",
                                        "enum": [
                                          "auto",
                                          "low",
                                          "high"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "url"
                                    ],
                                    "additionalProperties": false
                                  }
                                },
                                "required": [
                                  "type",
                                  "image_url"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "input_audio",
                                      "file",
                                      "input_image",
                                      "refusal"
                                    ]
                                  }
                                },
                                "required": [
                                  "type"
                                ],
                                "additionalProperties": {}
                              }
                            ]
                          }
                        }
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "name": {
                  "type": "string",
                  "maxLength": 256
                },
                "tool_calls": {
                  "maxItems": 128,
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "minLength": 1
                      },
                      "type": {
                        "type": "string",
                        "const": "function"
                      },
                      "function": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "arguments": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "arguments"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "required": [
                      "id",
                      "type",
                      "function"
                    ],
                    "additionalProperties": false
                  }
                },
                "tool_call_id": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 256
                }
              },
              "required": [
                "role"
              ],
              "additionalProperties": false
            }
          },
          "stream": {
            "default": false,
            "type": "boolean"
          },
          "max_tokens": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 200000
          },
          "max_completion_tokens": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 200000
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "seed": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "stop": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "maxItems": 4,
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "presence_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2
          },
          "frequency_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2
          },
          "response_format": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "text"
                  }
                },
                "required": [
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "json_object"
                  }
                },
                "required": [
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "json_schema"
                  },
                  "json_schema": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1
                      },
                      "description": {
                        "type": "string"
                      },
                      "schema": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      },
                      "strict": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "name"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "type",
                  "json_schema"
                ],
                "additionalProperties": false
              }
            ]
          },
          "logit_bias": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "number",
              "minimum": -100,
              "maximum": 100
            }
          },
          "top_k": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "min_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "tools": {
            "maxItems": 128,
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "const": "function"
                },
                "function": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 256,
                      "pattern": "^[A-Za-z0-9_-]+$"
                    },
                    "description": {
                      "type": "string",
                      "maxLength": 4096
                    },
                    "parameters": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    },
                    "strict": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "name"
                  ],
                  "additionalProperties": false
                }
              },
              "required": [
                "type",
                "function"
              ],
              "additionalProperties": false
            }
          },
          "tool_choice": {
            "anyOf": [
              {
                "type": "string",
                "const": "none"
              },
              {
                "type": "string",
                "const": "auto"
              },
              {
                "type": "string",
                "const": "required"
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "function"
                  },
                  "function": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1
                      }
                    },
                    "required": [
                      "name"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "type",
                  "function"
                ],
                "additionalProperties": false
              }
            ]
          },
          "parallel_tool_calls": {
            "type": "boolean"
          },
          "reasoning_effort": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high"
            ]
          },
          "logprobs": {
            "type": "boolean"
          },
          "top_logprobs": {
            "type": "integer",
            "minimum": 0,
            "maximum": 20
          },
          "dry_run": {
            "type": "boolean"
          },
          "include_confidence": {
            "type": "boolean"
          },
          "finding_set": {
            "type": "boolean"
          },
          "confidence_flag_below": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "confidence_reject_below": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "verify_cascade": {
            "type": "boolean"
          },
          "user": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          },
          "stream_options": {
            "type": "object",
            "properties": {
              "include_usage": {
                "type": "boolean"
              }
            },
            "required": [
              "include_usage"
            ],
            "additionalProperties": false
          },
          "n": {
            "type": "number"
          },
          "modalities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "service_tier": {
            "type": "string"
          },
          "store": {
            "type": "boolean"
          },
          "web_search": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "object",
                "properties": {
                  "freshness": {
                    "type": "string",
                    "enum": [
                      "day",
                      "week",
                      "month"
                    ]
                  },
                  "include_domains": {
                    "maxItems": 20,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 253,
                      "pattern": "^(?!-)[a-z0-9-]{1,63}(?<!-)(\\.(?!-)[a-z0-9-]{1,63}(?<!-))+$"
                    }
                  },
                  "exclude_domains": {
                    "maxItems": 20,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 253,
                      "pattern": "^(?!-)[a-z0-9-]{1,63}(?<!-)(\\.(?!-)[a-z0-9-]{1,63}(?<!-))+$"
                    }
                  }
                },
                "additionalProperties": false
              }
            ]
          },
          "prompt_id": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "prompt_label": {
            "type": "string",
            "pattern": "^[a-z0-9_.:-]{1,64}$"
          },
          "prompt_version": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "preset_id": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "preset_label": {
            "type": "string",
            "pattern": "^[a-z0-9_.:-]{1,64}$"
          },
          "preset_version": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "tags": {
            "maxItems": 10,
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^[a-z0-9_.:-]{1,64}$"
            }
          },
          "session_id": {
            "type": "string",
            "pattern": "^[a-z0-9_.:-]{1,64}$"
          },
          "provider": {
            "type": "object",
            "properties": {
              "only": {
                "maxItems": 64,
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 256
                }
              },
              "ignore": {
                "maxItems": 64,
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 256
                }
              },
              "sort": {
                "type": "string",
                "enum": [
                  "price",
                  "throughput",
                  "latency"
                ]
              },
              "max_price": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "number",
                    "minimum": 0
                  },
                  "completion": {
                    "type": "number",
                    "minimum": 0
                  }
                },
                "additionalProperties": false
              },
              "allow_fallbacks": {
                "type": "boolean"
              },
              "zdr": {
                "type": "boolean"
              },
              "data_collection": {
                "type": "string",
                "enum": [
                  "allow",
                  "deny"
                ]
              },
              "region": {
                "type": "string",
                "minLength": 2,
                "maxLength": 16
              },
              "operator_class": {
                "type": "string",
                "enum": [
                  "operator_owned",
                  "third_party"
                ]
              }
            },
            "additionalProperties": false
          },
          "knowledge_base_id": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "agent_id": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "lora_uri": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2048
          },
          "lora_auth": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "string",
              "minLength": 1,
              "maxLength": 4096
            }
          },
          "confidential": {
            "type": "boolean"
          },
          "context_compaction": {
            "type": "boolean"
          }
        },
        "required": [
          "model",
          "messages",
          "stream"
        ],
        "additionalProperties": false
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "created": {
            "type": "number"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "minItems": 1,
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "number"
                },
                "message": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string"
                    },
                    "content": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "reasoning_content": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tool_calls": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "function": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "arguments": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "additionalProperties": false
                },
                "finish_reason": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "message"
              ],
              "additionalProperties": false
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "number"
              },
              "completion_tokens": {
                "type": "number"
              },
              "total_tokens": {
                "type": "number"
              },
              "completion_tokens_details": {
                "type": "object",
                "properties": {
                  "reasoning_tokens": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              },
              "prompt_tokens_details": {
                "type": "object",
                "properties": {
                  "cached_tokens": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            },
            "required": [
              "prompt_tokens",
              "completion_tokens"
            ],
            "additionalProperties": false
          },
          "system_fingerprint": {
            "type": "string"
          },
          "dicompute_metadata": {
            "type": "object",
            "properties": {
              "requested_model": {
                "type": "string"
              },
              "served_model": {
                "type": "string"
              },
              "provider": {
                "type": "string"
              },
              "strategy": {
                "type": "string",
                "enum": [
                  "direct",
                  "fleet-sealed"
                ]
              },
              "attempt": {
                "type": "integer",
                "minimum": 1,
                "maximum": 9007199254740991
              },
              "is_fallback": {
                "type": "boolean"
              },
              "region": {
                "type": "string"
              },
              "sealed": {
                "type": "boolean"
              },
              "ttft_ms": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "failover": {
                "type": "boolean"
              },
              "provider_attempts": {
                "type": "integer",
                "minimum": 1,
                "maximum": 9007199254740991
              },
              "initial_failure_reason": {
                "type": "string",
                "enum": [
                  "at_capacity",
                  "upstream_unavailable",
                  "upstream_client_error"
                ]
              }
            },
            "required": [
              "requested_model",
              "served_model",
              "provider",
              "strategy",
              "attempt",
              "is_fallback",
              "sealed",
              "failover",
              "provider_attempts"
            ],
            "additionalProperties": false
          },
          "dico_verification": {
            "type": "object",
            "properties": {
              "egress_checked": {
                "type": "boolean"
              },
              "blocked": {
                "type": "boolean"
              }
            },
            "required": [
              "egress_checked",
              "blocked"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "choices"
        ],
        "additionalProperties": false
      },
      "ChatCompletionChunk": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "created": {
            "type": "number"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "number"
                },
                "delta": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string"
                    },
                    "content": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "reasoning_content": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tool_calls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "function": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "arguments": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "required": [
                          "index"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "additionalProperties": false
                },
                "finish_reason": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "delta"
              ],
              "additionalProperties": false
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "number"
              },
              "completion_tokens": {
                "type": "number"
              },
              "total_tokens": {
                "type": "number"
              },
              "completion_tokens_details": {
                "type": "object",
                "properties": {
                  "reasoning_tokens": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              },
              "prompt_tokens_details": {
                "type": "object",
                "properties": {
                  "cached_tokens": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            },
            "required": [
              "prompt_tokens",
              "completion_tokens"
            ],
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "ChatCompletionError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "invalid_request_error",
                  "authentication_error",
                  "insufficient_quota",
                  "rate_limit_error",
                  "server_error"
                ]
              },
              "param": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "code": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "detail": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "stage": {
                "type": "string",
                "enum": [
                  "validation",
                  "capacity",
                  "worker",
                  "engine",
                  "network"
                ]
              },
              "attempts": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              }
            },
            "required": [
              "message",
              "type",
              "param",
              "code"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "AnthropicMessagesRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string"
          },
          "max_tokens": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 200000
          },
          "messages": {
            "minItems": 1,
            "maxItems": 1000,
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "user",
                    "assistant"
                  ]
                },
                "content": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "text"
                              },
                              "text": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "type",
                              "text"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "image"
                              },
                              "source": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "const": "base64"
                                      },
                                      "media_type": {
                                        "type": "string",
                                        "enum": [
                                          "image/png",
                                          "image/jpeg",
                                          "image/webp",
                                          "image/gif"
                                        ]
                                      },
                                      "data": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 200000
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "media_type",
                                      "data"
                                    ],
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "const": "url"
                                      },
                                      "url": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 2048
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "url"
                                    ],
                                    "additionalProperties": false
                                  }
                                ]
                              }
                            },
                            "required": [
                              "type",
                              "source"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "tool_use"
                              },
                              "id": {
                                "type": "string",
                                "minLength": 1
                              },
                              "name": {
                                "type": "string",
                                "minLength": 1
                              },
                              "input": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              }
                            },
                            "required": [
                              "type",
                              "id",
                              "name"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "tool_result"
                              },
                              "tool_use_id": {
                                "type": "string",
                                "minLength": 1
                              },
                              "content": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "const": "text"
                                        },
                                        "text": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "type",
                                        "text"
                                      ],
                                      "additionalProperties": false
                                    }
                                  }
                                ]
                              },
                              "is_error": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "type",
                              "tool_use_id"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "type"
                            ],
                            "additionalProperties": {}
                          }
                        ]
                      }
                    }
                  ]
                }
              },
              "required": [
                "role",
                "content"
              ],
              "additionalProperties": false
            }
          },
          "system": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type"
                  ],
                  "additionalProperties": {}
                }
              }
            ]
          },
          "stream": {
            "default": false,
            "type": "boolean"
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "top_k": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "stop_sequences": {
            "maxItems": 4,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metadata": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          },
          "tags": {
            "maxItems": 10,
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^[a-z0-9_.:-]{1,64}$"
            }
          },
          "tools": {
            "maxItems": 128,
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "minLength": 1
                },
                "description": {
                  "type": "string"
                },
                "input_schema": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {}
                }
              },
              "required": [
                "name"
              ],
              "additionalProperties": false
            }
          },
          "tool_choice": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "auto"
                  }
                },
                "required": [
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "any"
                  }
                },
                "required": [
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "tool"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "type",
                  "name"
                ],
                "additionalProperties": false
              }
            ]
          },
          "thinking": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "enabled",
                  "disabled"
                ]
              },
              "budget_tokens": {
                "type": "integer",
                "exclusiveMinimum": 0,
                "maximum": 9007199254740991
              }
            },
            "required": [
              "type"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "model",
          "max_tokens",
          "messages",
          "stream"
        ],
        "additionalProperties": false
      },
      "AnthropicCountTokensRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string"
          },
          "messages": {
            "minItems": 1,
            "maxItems": 1000,
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "user",
                    "assistant"
                  ]
                },
                "content": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "text"
                              },
                              "text": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "type",
                              "text"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "image"
                              },
                              "source": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "const": "base64"
                                      },
                                      "media_type": {
                                        "type": "string",
                                        "enum": [
                                          "image/png",
                                          "image/jpeg",
                                          "image/webp",
                                          "image/gif"
                                        ]
                                      },
                                      "data": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 200000
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "media_type",
                                      "data"
                                    ],
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "const": "url"
                                      },
                                      "url": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 2048
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "url"
                                    ],
                                    "additionalProperties": false
                                  }
                                ]
                              }
                            },
                            "required": [
                              "type",
                              "source"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "tool_use"
                              },
                              "id": {
                                "type": "string",
                                "minLength": 1
                              },
                              "name": {
                                "type": "string",
                                "minLength": 1
                              },
                              "input": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              }
                            },
                            "required": [
                              "type",
                              "id",
                              "name"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "tool_result"
                              },
                              "tool_use_id": {
                                "type": "string",
                                "minLength": 1
                              },
                              "content": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "const": "text"
                                        },
                                        "text": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "type",
                                        "text"
                                      ],
                                      "additionalProperties": false
                                    }
                                  }
                                ]
                              },
                              "is_error": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "type",
                              "tool_use_id"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "type"
                            ],
                            "additionalProperties": {}
                          }
                        ]
                      }
                    }
                  ]
                }
              },
              "required": [
                "role",
                "content"
              ],
              "additionalProperties": false
            }
          },
          "system": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type"
                  ],
                  "additionalProperties": {}
                }
              }
            ]
          }
        },
        "required": [
          "model",
          "messages"
        ],
        "additionalProperties": false
      },
      "ResponsesApiRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string"
          },
          "input": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "function_call"
                        },
                        "call_id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "name": {
                          "type": "string",
                          "minLength": 1
                        },
                        "arguments": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "call_id",
                        "name",
                        "arguments"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "function_call_output"
                        },
                        "call_id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "output": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "call_id",
                        "output"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant",
                            "system",
                            "developer"
                          ]
                        },
                        "content": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "const": "input_text"
                                      },
                                      "text": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "text"
                                    ],
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "const": "input_image"
                                      },
                                      "image_url": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 200000
                                      },
                                      "detail": {
                                        "type": "string",
                                        "enum": [
                                          "auto",
                                          "low",
                                          "high"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "image_url"
                                    ],
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "type"
                                    ],
                                    "additionalProperties": {}
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ],
                      "additionalProperties": false
                    }
                  ]
                }
              }
            ]
          },
          "instructions": {
            "type": "string"
          },
          "stream": {
            "default": false,
            "type": "boolean"
          },
          "max_output_tokens": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 200000
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "metadata": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          },
          "tags": {
            "maxItems": 10,
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^[a-z0-9_.:-]{1,64}$"
            }
          },
          "tools": {
            "maxItems": 128,
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "const": "function"
                },
                "name": {
                  "type": "string",
                  "minLength": 1
                },
                "description": {
                  "type": "string"
                },
                "parameters": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {}
                },
                "strict": {
                  "type": "boolean"
                }
              },
              "required": [
                "type",
                "name"
              ],
              "additionalProperties": false
            }
          },
          "tool_choice": {
            "anyOf": [
              {
                "type": "string",
                "const": "auto"
              },
              {
                "type": "string",
                "const": "none"
              },
              {
                "type": "string",
                "const": "required"
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "function"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "type",
                  "name"
                ],
                "additionalProperties": false
              }
            ]
          },
          "store": {
            "type": "boolean"
          },
          "text": {
            "type": "object",
            "properties": {
              "format": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "const": "text"
                      }
                    },
                    "required": [
                      "type"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "const": "json_schema"
                      },
                      "name": {
                        "type": "string",
                        "minLength": 1
                      },
                      "schema": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      },
                      "strict": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "type",
                      "name"
                    ],
                    "additionalProperties": false
                  }
                ]
              }
            },
            "required": [
              "format"
            ],
            "additionalProperties": false
          },
          "reasoning": {
            "type": "object",
            "properties": {
              "effort": {
                "type": "string",
                "enum": [
                  "low",
                  "medium",
                  "high"
                ]
              }
            },
            "additionalProperties": false
          },
          "parallel_tool_calls": {
            "type": "boolean"
          },
          "include": {
            "maxItems": 20,
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 128
            }
          },
          "truncation": {
            "type": "string",
            "enum": [
              "auto",
              "disabled"
            ]
          },
          "previous_response_id": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "model",
          "input",
          "stream"
        ],
        "additionalProperties": false
      },
      "RerankRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string"
          },
          "query": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200000
          },
          "documents": {
            "minItems": 1,
            "maxItems": 1000,
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200000
            }
          },
          "top_n": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "return_documents": {
            "type": "boolean"
          }
        },
        "required": [
          "model",
          "query",
          "documents"
        ],
        "additionalProperties": false
      },
      "RerankResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 9007199254740991
                },
                "relevance_score": {
                  "type": "number"
                },
                "document": {
                  "type": "string"
                }
              },
              "required": [
                "index",
                "relevance_score"
              ],
              "additionalProperties": false
            }
          },
          "model": {
            "type": "string"
          }
        },
        "required": [
          "object",
          "results",
          "model"
        ],
        "additionalProperties": false
      },
      "EmbeddingsRequest": {
        "type": "object",
        "properties": {
          "input": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 1,
                "maxLength": 200000
              },
              {
                "minItems": 1,
                "maxItems": 2048,
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 200000
                    },
                    {
                      "minItems": 1,
                      "maxItems": 4,
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "text"
                              },
                              "text": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 200000
                              }
                            },
                            "required": [
                              "type",
                              "text"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "image_url"
                              },
                              "image_url": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string",
                                    "minLength": 1
                                  }
                                },
                                "required": [
                                  "url"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "type",
                              "image_url"
                            ],
                            "additionalProperties": false
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            ]
          },
          "model": {
            "type": "string",
            "minLength": 1,
            "maxLength": 256
          },
          "encoding_format": {
            "type": "string",
            "enum": [
              "float",
              "base64"
            ]
          },
          "dimensions": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "input",
          "model"
        ],
        "additionalProperties": false
      },
      "CompletionRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string"
          },
          "prompt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "max_tokens": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 200000
          },
          "stream": {
            "default": false,
            "type": "boolean"
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "n": {
            "type": "number"
          },
          "stop": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "maxItems": 4,
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "presence_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2
          },
          "frequency_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2
          },
          "logit_bias": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "number",
              "minimum": -100,
              "maximum": 100
            }
          },
          "user": {
            "type": "string"
          },
          "tags": {
            "maxItems": 10,
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^[a-z0-9_.:-]{1,64}$"
            }
          },
          "stream_options": {
            "type": "object",
            "properties": {
              "include_usage": {
                "type": "boolean"
              }
            },
            "required": [
              "include_usage"
            ],
            "additionalProperties": false
          },
          "best_of": {},
          "suffix": {},
          "logprobs": {},
          "echo": {}
        },
        "required": [
          "model",
          "prompt",
          "stream"
        ],
        "additionalProperties": false
      },
      "OAuthClientLookupResponse": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9_-]+$"
          },
          "display_name": {
            "type": "string"
          }
        },
        "required": [
          "client_id",
          "display_name"
        ],
        "additionalProperties": false
      },
      "OAuthApproveRequest": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9_-]+$"
          },
          "redirect_uri": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2048
          },
          "code_challenge": {
            "type": "string",
            "minLength": 43,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9_-]+$"
          },
          "code_challenge_method": {
            "type": "string",
            "minLength": 1,
            "maxLength": 16
          },
          "scope": {
            "type": "string",
            "maxLength": 256
          },
          "state": {
            "type": "string",
            "maxLength": 512
          },
          "spend_cap_uusd": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "client_id",
          "redirect_uri",
          "code_challenge",
          "code_challenge_method",
          "spend_cap_uusd"
        ],
        "additionalProperties": false
      },
      "OAuthAuthorizeResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "expires_at_ms": {
            "type": "number"
          },
          "state": {
            "type": "string",
            "maxLength": 512
          }
        },
        "required": [
          "code",
          "expires_at_ms"
        ],
        "additionalProperties": false
      },
      "OAuthTokenRequest": {
        "type": "object",
        "properties": {
          "grant_type": {
            "type": "string",
            "const": "authorization_code"
          },
          "code": {
            "type": "string",
            "minLength": 1,
            "maxLength": 512
          },
          "redirect_uri": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2048
          },
          "client_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9_-]+$"
          },
          "code_verifier": {
            "type": "string",
            "minLength": 43,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9_.~-]+$"
          }
        },
        "required": [
          "grant_type",
          "code",
          "redirect_uri",
          "client_id",
          "code_verifier"
        ],
        "additionalProperties": false
      },
      "OAuthTokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string",
            "const": "bearer"
          },
          "scope": {
            "type": "string",
            "const": "inference"
          }
        },
        "required": [
          "access_token",
          "token_type",
          "scope"
        ],
        "additionalProperties": false
      },
      "OAuthErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          }
        },
        "required": [
          "error",
          "error_description"
        ],
        "additionalProperties": false
      },
      "CostEstimateRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "input_tokens": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "output_tokens": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "cached_tokens": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "cache_tokens": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "lora_uri": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2048
          }
        },
        "required": [
          "model",
          "input_tokens",
          "output_tokens"
        ],
        "additionalProperties": false
      },
      "CacheStatus": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          }
        },
        "required": [
          "enabled"
        ],
        "additionalProperties": false
      }
    }
  },
  "paths": {
    "/v1/": {
      "get": {
        "operationId": "api-root",
        "summary": "API root -- confirms the base URL and points at the model catalog and docs.",
        "description": "Public, unauthenticated. What you get by following this API's own documented base URL with nothing appended -- a small, real discovery document (never a 404), naming the docs entry point and the live model catalog.",
        "security": [],
        "responses": {
          "200": {
            "description": "API root -- confirms the base URL and points at the model catalog and docs.",
            "content": {
              "application/json": {
                "schema": {},
                "description": "No shared, machine-checked schema exists for this body yet. Shape shown here verbatim from this deployment's own API-console reference: ```\n{ \"object\": \"api.root\", \"message\": \"string\", \"documentation\": \"/llms.txt\", \"models\": \"/v1/models\"\n}\n```",
                "examples": {
                  "curl-0": {
                    "summary": "curl",
                    "description": "A bash example -- the same snippet this deployment's own API console renders for this operation.",
                    "value": "curl {{BASE_URL}}/"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "operationId": "chat-completions",
        "summary": "Run a chat completion, streaming or not.",
        "description": "OpenAI-compatible. Accepts the same `messages` array any OpenAI SDK sends. Set `stream: true` for a server-sent-events response identical in shape to OpenAI's own streaming format -- the same client code that works against api.openai.com works here with one base-URL change. Send an optional `Idempotency-Key` header to retry safely -- a dropped connection can't tell you whether the request billed, and this lets a retry find out instead of guessing. Same key + same request body within 24h replays the ORIGINAL response verbatim (tagged `Idempotency-Replayed: true`) and bills nothing a second time; the same key with a different body is rejected (422), and two concurrent requests sharing a key resolve as one success and one 409, never two charges. Scoped to your account, so a key you reuse is never visible to (or replayable by) any other account. Not supported on a streaming request (`stream: true`) -- a partially-delivered SSE stream can't be replayed honestly, so a keyed streaming request is refused (422) rather than silently ignoring the key. Send optional `HTTP-Referer` and `X-DiCompute-Title` headers to identify YOUR app -- the same convention OpenRouter uses for its app rankings. Only the referer's host is stored (never the path or query string); both headers are decoration, never validation, so an absent or malformed value changes nothing about the response. Attributed usage feeds the public app leaderboard (GET /v1/stats/apps) once your app clears its minimum-activity floor. Every inference response -- streaming or not -- also carries an `x-dico-cache-status: hit | miss | bypass` response header. Non-stream, it is sourced from the same `cached_tokens` count billing records on the settle receipt, so it can never contradict what you were charged: `hit` means the engine reported cached prompt tokens (billed at the discounted cache-read rate), and `bypass` is the honest value while the exact-prefix rollout is disabled -- every deployment of this codebase today. On a stream the header is stamped when the response headers flush, BEFORE the usage frame carrying `cached_tokens` exists, so it reports the flush-time truth (`bypass` today, `miss` once the rollout is enabled) and can never claim `hit` -- a streamed response's per-request cache signal is `usage.prompt_tokens_details.cached_tokens` on the terminal usage frame instead. Do not conflate this with the `x-cache-status` header on GET /v1/cache/status: that one reports the deployment-wide rollout state (`enabled | disabled`), this one reports a per-response outcome.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "curl-non-streaming-0": {
                  "summary": "curl (non-streaming)",
                  "description": "A bash example -- the same snippet this deployment's own API console renders for this operation.",
                  "value": "curl {{BASE_URL}}/chat/completions \\ -H \"authorization: Bearer {{API_KEY}}\" \\ -H \"content-type: application/json\" \\ -d '{\"messages\":[{\"role\":\"user\",\"content\":\"hello\"}]}'"
                },
                "curl-streaming-1": {
                  "summary": "curl (streaming)",
                  "description": "A bash example -- the same snippet this deployment's own API console renders for this operation.",
                  "value": "curl -N {{BASE_URL}}/chat/completions \\ -H \"authorization: Bearer {{API_KEY}}\" \\ -H \"content-type: application/json\" \\ -d '{\"messages\":[{\"role\":\"user\",\"content\":\"hello\"}],\"stream\":true}'"
                },
                "curl-safe-retry-1761-2": {
                  "summary": "curl (safe retry)",
                  "description": "A bash example -- the same snippet this deployment's own API console renders for this operation.",
                  "value": "curl {{BASE_URL}}/chat/completions \\ -H \"authorization: Bearer {{API_KEY}}\" \\ -H \"content-type: application/json\" \\ -H \"idempotency-key: $(uuidgen)\" \\ -d '{\"messages\":[{\"role\":\"user\",\"content\":\"hello\"}]}'"
                },
                "openai-sdk-python-3": {
                  "summary": "OpenAI SDK (Python)",
                  "description": "A python example -- the same snippet this deployment's own API console renders for this operation.",
                  "value": "from openai import OpenAI client = OpenAI(base_url=\"{{BASE_URL}}\", api_key=\"{{API_KEY}}\") resp = client.chat.completions.create(messages=[{\"role\": \"user\", \"content\": \"hello\"}], stream=True,)\nfor chunk in resp: print(chunk.choices[0].delta.content or \"\", end=\"\")"
                },
                "openai-sdk-js-ts-4": {
                  "summary": "OpenAI SDK (JS/TS)",
                  "description": "A javascript example -- the same snippet this deployment's own API console renders for this operation.",
                  "value": "import OpenAI from \"openai\"; const client = new OpenAI({ baseURL: \"{{BASE_URL}}\", apiKey: \"{{API_KEY}}\" }); const stream = await client.chat.completions.create({ messages: [{ role: \"user\", content: \"hello\" }], stream: true, });\nfor await (const chunk of stream) { process.stdout.write(chunk.choices[0]?.delta?.content ?? \"\");\n}"
                },
                "vercel-ai-sdk-5": {
                  "summary": "Vercel AI SDK",
                  "description": "A typescript example -- the same snippet this deployment's own API console renders for this operation.",
                  "value": "import { createOpenAI } from \"@ai-sdk/openai\";\nimport { streamText } from \"ai\"; const dico = createOpenAI({ baseURL: \"{{BASE_URL}}\", apiKey: \"{{API_KEY}}\" }); const { textStream } = streamText({ model: dico.chat(\"your-model-id\"), messages: [{ role: \"user\", content: \"hello\" }],\n});\nfor await (const delta of textStream) process.stdout.write(delta);"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Run a chat completion, streaming or not. Success. When the request body sets `\"stream\": true`, the response is `Content-Type: text/event-stream`, not the single JSON document this section's `application/json` schema describes: a sequence of `data: <json>\\n\\n` frames, each JSON payload shaped like `ChatCompletionChunk` (see `components.schemas.ChatCompletionChunk`), terminated by a literal `data: [DONE]` frame. OpenAPI 3.1 has no vocabulary for \"a stream of this shape\" -- this is stated in prose rather than modelled as a false single-object response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                },
                "examples": {
                  "curl-non-streaming-0": {
                    "summary": "curl (non-streaming)",
                    "description": "A bash example -- the same snippet this deployment's own API console renders for this operation.",
                    "value": "curl {{BASE_URL}}/chat/completions \\ -H \"authorization: Bearer {{API_KEY}}\" \\ -H \"content-type: application/json\" \\ -d '{\"messages\":[{\"role\":\"user\",\"content\":\"hello\"}]}'"
                  },
                  "curl-streaming-1": {
                    "summary": "curl (streaming)",
                    "description": "A bash example -- the same snippet this deployment's own API console renders for this operation.",
                    "value": "curl -N {{BASE_URL}}/chat/completions \\ -H \"authorization: Bearer {{API_KEY}}\" \\ -H \"content-type: application/json\" \\ -d '{\"messages\":[{\"role\":\"user\",\"content\":\"hello\"}],\"stream\":true}'"
                  },
                  "curl-safe-retry-1761-2": {
                    "summary": "curl (safe retry)",
                    "description": "A bash example -- the same snippet this deployment's own API console renders for this operation.",
                    "value": "curl {{BASE_URL}}/chat/completions \\ -H \"authorization: Bearer {{API_KEY}}\" \\ -H \"content-type: application/json\" \\ -H \"idempotency-key: $(uuidgen)\" \\ -d '{\"messages\":[{\"role\":\"user\",\"content\":\"hello\"}]}'"
                  },
                  "openai-sdk-python-3": {
                    "summary": "OpenAI SDK (Python)",
                    "description": "A python example -- the same snippet this deployment's own API console renders for this operation.",
                    "value": "from openai import OpenAI client = OpenAI(base_url=\"{{BASE_URL}}\", api_key=\"{{API_KEY}}\") resp = client.chat.completions.create(messages=[{\"role\": \"user\", \"content\": \"hello\"}], stream=True,)\nfor chunk in resp: print(chunk.choices[0].delta.content or \"\", end=\"\")"
                  },
                  "openai-sdk-js-ts-4": {
                    "summary": "OpenAI SDK (JS/TS)",
                    "description": "A javascript example -- the same snippet this deployment's own API console renders for this operation.",
                    "value": "import OpenAI from \"openai\"; const client = new OpenAI({ baseURL: \"{{BASE_URL}}\", apiKey: \"{{API_KEY}}\" }); const stream = await client.chat.completions.create({ messages: [{ role: \"user\", content: \"hello\" }], stream: true, });\nfor await (const chunk of stream) { process.stdout.write(chunk.choices[0]?.delta?.content ?? \"\");\n}"
                  },
                  "vercel-ai-sdk-5": {
                    "summary": "Vercel AI SDK",
                    "description": "A typescript example -- the same snippet this deployment's own API console renders for this operation.",
                    "value": "import { createOpenAI } from \"@ai-sdk/openai\";\nimport { streamText } from \"ai\"; const dico = createOpenAI({ baseURL: \"{{BASE_URL}}\", apiKey: \"{{API_KEY}}\" }); const { textStream } = streamText({ model: dico.chat(\"your-model-id\"), messages: [{ role: \"user\", content: \"hello\" }],\n});\nfor await (const delta of textStream) process.stdout.write(delta);"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request body failed validation (`error.type: \"invalid_request_error\"`) -- the same envelope every other non-2xx response on this surface uses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionError"
                }
              }
            }
          },
          "401": {
            "description": "No credential was presented, or the one presented was rejected -- the same envelope every other non-2xx response on this surface uses (`error.type: \"authentication_error\"`). Per RFC 9110 s15.5.2 this response also always carries a `WWW-Authenticate` challenge (DICOMPUTE/Open): `Bearer realm=\"<deployment>\"` when no credential was presented at all, or that same challenge plus `error=\"invalid_token\"` (RFC 6750 s3.1) when one was presented and rejected.",
            "headers": {
              "WWW-Authenticate": {
                "description": "The RFC 9110 challenge -- see this response's own description for the two forms it takes.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionError"
                }
              }
            }
          },
          "default": {
            "description": "Error. Every non-2xx response from this surface uses this same envelope. `error.type` is one of: `invalid_request_error`, `authentication_error`, `insufficient_quota`, `rate_limit_error`, `server_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/rerank": {
      "post": {
        "operationId": "rerank",
        "summary": "Score documents against a query with a cross-encoder, most relevant first.",
        "description": "`documents[].index` in the response is ALWAYS the position the document held in YOUR `documents` array, never the position in the sorted result -- look a scored document back up by that index, not by counting through the response. Omit `top_n` to get every document scored; set it to get only the top N. Set `return_documents: true` to have each result echo its own document text back (otherwise only the index and score are returned). Supports an optional `Idempotency-Key` header, same replay/conflict/body-mismatch contract as `/v1/chat/completions` (see that endpoint's own description).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RerankRequest"
              },
              "examples": {
                "curl-0": {
                  "summary": "curl",
                  "description": "A bash example -- the same snippet this deployment's own API console renders for this operation.",
                  "value": "curl {{BASE_URL}}/rerank \\ -H \"authorization: Bearer {{API_KEY}}\" \\ -H \"content-type: application/json\" \\ -d '{\"model\":\"your-model-id\",\"query\":\"how do I reset my password\",\"documents\":[\"doc A text...\",\"doc B text...\"],\"top_n\":1}'"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Score documents against a query with a cross-encoder, most relevant first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RerankResponse"
                },
                "examples": {
                  "curl-0": {
                    "summary": "curl",
                    "description": "A bash example -- the same snippet this deployment's own API console renders for this operation.",
                    "value": "curl {{BASE_URL}}/rerank \\ -H \"authorization: Bearer {{API_KEY}}\" \\ -H \"content-type: application/json\" \\ -d '{\"model\":\"your-model-id\",\"query\":\"how do I reset my password\",\"documents\":[\"doc A text...\",\"doc B text...\"],\"top_n\":1}'"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request body failed validation (`error.type: \"invalid_request_error\"`) -- the same envelope every other non-2xx response on this surface uses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionError"
                }
              }
            }
          },
          "401": {
            "description": "No credential was presented, or the one presented was rejected -- the same envelope every other non-2xx response on this surface uses (`error.type: \"authentication_error\"`). Per RFC 9110 s15.5.2 this response also always carries a `WWW-Authenticate` challenge (DICOMPUTE/Open): `Bearer realm=\"<deployment>\"` when no credential was presented at all, or that same challenge plus `error=\"invalid_token\"` (RFC 6750 s3.1) when one was presented and rejected.",
            "headers": {
              "WWW-Authenticate": {
                "description": "The RFC 9110 challenge -- see this response's own description for the two forms it takes.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionError"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
[...]
